#participantsList {
    padding-left: 20px;
    color:var(--secondary-color);
}

#participantsList li::marker {
    color:var(--primary-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}