:root {
    --primary-color: #426610;
    --primary-color-light: #6b9d3d;
    --primary-color-dark: #1f3d07;

    --secondary-color: #ff5db2;
    --secondary-color-light: #ff8de6;
    --secondary-color-dark: #c22c6e;
}

a:hover {
    scale: 1.1;
}

.btn {
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--secondary-color-dark);
}

html {
    height: 100%;
}

body {
    font-size: 1.2em;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    background-color: #351fb7;
    color: #ffffff;
    padding: 0px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav p {
    font-weight: bold;
    margin-right: 16px;
    text-shadow: 2px 2px #000000;
    pointer-events: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 16px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover, nav ul li a.nav-link.active {
    color: var(--primary-color-dark) !important;
    text-decoration: underline;
}

nav ul li a:hover {
    scale: 1.1;
}

main {
    margin: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 40px;
}

/* Navbar and footer */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #351fb7;
    color: #ffffff;
    padding: 8px;
}

.navbar a {
    color: #426610;
    text-decoration: none;
}

.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Call to action (cta) section */
section.cta {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

section.cta a {
    color: white;
    text-decoration: none;
}

section.cta a:hover {
    text-decoration: underline;
}

/* Page-specific styles */

/* Outing Overview Page */
#outingsList {
    margin-top: 20px;
}

#outingsList div {
    background-color: var(--primary-color-light);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#outingsList h3 {
    color: #ffffff;
    margin: 0;
}

#outingsList button {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#outingsList button:hover {
    background-color: var(--secondary-color-dark);
}

/* Outing Detail Page */
#outingDetails {
    background-color: var(--primary-color-light);
    padding: 16px;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#outingDetails h2 {
    margin: 0;
}

form {
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-color-dark);
}

/* Activity list and participant spending */
#activitiesList, #participantSpending {
    background-color: #e9ffe6;
    padding: 16px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#activitiesList p, #participantSpending p {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

#activitiesList p:last-child, #participantSpending p:last-child {
    border-bottom: none;
}

#participantsList {
    padding-left: 20px;
    color:var(--secondary-color);
}

#participantsList li::marker {
    color:var(--primary-color);
}

/* Owing Calculations Section */
#owingCalculations {
    background-color: var(--secondary-color-light);
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#owingCalculations h3 {
    margin-top: 0;
}

#owingCalculations ul {
    list-style-type: none;
    padding-left: 0;
}

#owingCalculations ul li {
    background-color: var(--secondary-color-dark);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
